html {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

.badge.filter {
    margin-top: 4px;
}

.podcaster {
	border-bottom: 2px solid #00A200;
}

.podcaster-loading {
    color: #00A200;
    display: none;
}

.podcast:hover {
    cursor: pointer;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-top-img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.podcast-episodes-container table {
    width: 100%;
}

.podcast-date, .podcast-length {
    width: 14%;
}

.podcast-hover:hover {
    cursor: pointer;
}

.p-player .p-player-controls {
    box-sizing: border-box;
    background: #000;
    color: #fff;
    font-size: 14px;
    height: 42px;
    overflow: hidden;
    padding: 5px;
}
.p-player button {
    background: #2a2a2a;
    color: #fff;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    line-height: 22px;
    -webkit-appreance: none;
    min-width: 32px;
}
.p-player progress {
    height: 13px;
    width: calc(100% - 281px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.p-player progress[value]::-webkit-progress-bar {
    background-color: #555;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.p-player progress[value]::-webkit-progress-value {
    background: #fff;
}
.p-player .time {
    display: inline-block;
    font-size: 13px;
    padding: 0 5px;
    text-align: center;
    width: 4em;
}
.podcast-episodes-container .podcast-description-container .card-title {
    border: 1px solid lightgray;
}